apps/web/node_modules
apps/web/dist

.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

rm_file/
apps/server/log/
apps/server/gva
apps/server/server
apps/server/latest_log
apps/server/__debug_bin*
apps/server/*.local.yaml
apps/server/uploads/

*.iml
apps/web/.pnpm-debug.log
apps/web/pnpm-lock.yaml

# binary files
*.exe

# SQLite database files
*.db
*.sqlite
*.sqlite3
